body{
    font-size:0.8em;
    font-family:'Arial';
    margin:0.5em;
    padding:0;
}

a{
    text-decoration: none;
}

.wrapper{
    max-width:70%;
    min-width:160px;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    position: relative;
    padding: 15px 8px 15px 40px;
    background: #eee;
    transition: 0.2s;
    word-wrap: break-word;
    list-style-type: none;
}

ul li:nth-child(odd) {
    background: #f9f9f9;
}

ul li:hover {
    background: #ddd;
}

ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 17px 17px 17px 17px
}

.close:hover {
    background-color: #f7837a;
    color: white;
}

input.check{
    float:left;
    width:16px;
    height:16px;
    margin-right:10px;
    position: relative;
}

.header {
    background-color: #1c7dad;
    color: white;
    text-align: center;
    padding:2em 2em 3em 2em;    
}

#taskTittle {
    border: none;
    width: 70%;
    padding:10px 0px 10px 10px;
    margin-bottom:10px;
    min-width:60px;
}

#addButton {
    background: #d9d9d9;
    color: #555;
    transition: 0.3s;
    display: inline-block;
    height:50%;
    width:26%;
    padding:10px 0px;
    min-width:30px;
}

#addButton:hover {
    background-color: #bbb;
}

.filter {
    background-color: #1c7dad;
    color: white;
    text-align:right;
    padding:15px 10px 10px 10px;;
}

span.showDone{
    color:white;
    text-align: right;
}

input.showDone{
    width:16px;
    height:16px;
    position: relative;
    top:2px;
}

.edit{
    background: #eee;
    transition: 0.2s;
}

.input-line{
    height:30px;
    margin:auto;
    width:90%;
}
@media screen and (min-width: 100px) and (max-width: 640px){
        div.filter{
            display: none;
        }
        div.header{
            height:60px;
        }
}

@media screen and (min-width: 641px) and (max-width: 900px){
    span.showDone{
        color:white;
        text-align: right;
    }
    input.showDone{
        width:16px;
        height:16px;
        position: relative;
        top:2px;
    }
}
.checkbox {
    display: none;
}
 
.checkbox-custom {
    position: relative;     
    width: 15px;             
    height: 15px;            
    border: 2px solid #ccc;
    border-radius: 3px;
}
 
.checkbox-custom,.task {
    display: inline-block;
    vertical-align: middle;
}
 
.checkbox:checked + .checkbox-custom::before {
    content: "";             
    display: block;          
    position: absolute;      
 
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
 
    background-image: url(tick.png);
    background-size: 12px 12px;         
    border-radius: 2px;
}

li.done>span.task{
    text-decoration:line-through;    
}

li.done{
    background:#908f8f !important;
    color:white;   
}
